@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vienvenido</h1>
    <p>esta es la pagina principal, Actualmente en desarrollo.</p>
</div>

<div class="navbar-nav">
    <div class="btn-group">
        <a type="button" class="btn btn-primary" asp-area="" asp-page="/Index">Home</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">more options</span>
            </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-area="" asp-page="">Productos</a></li>
            <li><a class="dropdown-item" asp-area="" asp-page="">Noticias</a></li>
            <li><a class="dropdown-item" asp-area="" asp-page="">Noticias</a></li>
            <li><a class="dropdown-item" asp-area="" asp-page="/Privacy">Privacy</a></li>
        </ul>
    </div>
</div>
